In [1]:
import numpy as np
import pandas as pd
##from clustergrammer_glidget import *
from clustergrammer_widget import *
import glob as glob

In [2]:
#### All the data in this local folder
!ls

IRAhandle_tweets_1.csv IRAhandle_tweets_5.csv IRAhandle_tweets_9.csv
IRAhandle_tweets_2.csv IRAhandle_tweets_6.csv README.md
IRAhandle_tweets_3.csv IRAhandle_tweets_7.csv VersionA.ipynb
IRAhandle_tweets_4.csv IRAhandle_tweets_8.csv

In [3]:
#def loadAllCSVintoPD(folder):

In [4]:
path =r'.' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [5]:
type(frame)

pandas.core.frame.DataFrame

In [6]:
frame.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
3,1.674084e+09,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2160,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer

In [7]:
len(frame)

2973371

In [8]:
frame.shape

(2973371, 15)

In [18]:
orig_frame = frame.copy()

In [29]:
frame = orig_frame

In [30]:
frame = frame[:100]
frame.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
3,1.674084e+09,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2160,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer

In [31]:
columns = frame.columns
columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [33]:
frame.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer
3,1.674084e+09,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2160,RETWEET,Hashtager,0,1,HashtagGamer
4,1.674084e+09,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2158,RETWEET,Hashtager,0,1,HashtagGamer

In [34]:
frame = frame[['author', 'content', 'region', 'language',
        'following', 'followers', 'updates',
       'post_type', 'account_type',
       'account_category']]

In [35]:
frame.head()

,author,content,region,language,following,followers,updates,post_type,account_type,account_category
0,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,3395,2014,2150,RETWEET,Hashtager,HashtagGamer
1,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,3395,2014,2146,RETWEET,Hashtager,HashtagGamer
2,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,3395,2013,2159,RETWEET,Hashtager,HashtagGamer
3,GAB1ALDANA,#MyAchillesHeel slippery floors https://t.co/R...,United States,Norwegian,3395,2013,2160,RETWEET,Hashtager,HashtagGamer
4,GAB1ALDANA,#MyAchillesHeel Boring narcissists.....nothing...,United States,English,3395,2013,2158,RETWEET,Hashtager,HashtagGamer

In [36]:
columns = frame.columns
columns

Index(['author', 'content', 'region', 'language', 'following', 'followers',
       'updates', 'post_type', 'account_type', 'account_category'],
      dtype='object')

In [37]:
regions = frame.region.unique()
regions

array(['United States'], dtype=object)

In [38]:
account_category = frame.account_category.unique()
account_category

array(['HashtagGamer'], dtype=object)

In [13]:
net = Network(clustergrammer_widget)

In [14]:
#def setColor(df,col,colors):

In [15]:
# net.load_df(frame)
# net.set_cat_color('col', 1, 'account_category: HashtagGamer','red')
# net.set_cat_color('col', 1, 'account_category: Fearmonger','blue')
# net.set_cat_color('col', 1, 'account_category: NonEnglish', 'yellow')
# net.set_cat_color('col', 1, 'account_category: LeftTroll', 'green')
# net.set_cat_color('col', 1, 'account_category: RightTroll', 'brown')
# net.set_cat_color('col', 1, 'account_category: Unknown', 'purple')
# net.set_cat_color('col', 1, 'account_category: NewsFeed','black')
# net.set_cat_color('col', 1, 'account_category: Commercial', 'pink')

there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color

In [44]:
net.load_df(frame)
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: HashtagGamer', inst_color='red')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: Fearmonger', inst_color='blue')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: NonEnglish', inst_color='yellow')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: LeftTroll', inst_color='green')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: RightTroll', inst_color='brown')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: Unknown', inst_color='purple')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: NewsFeed', inst_color='black')
net.set_cat_color(axis='col', cat_index=1, cat_name='account_category: Commercial', inst_color='pink')

there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color
there was an error setting the category color

In [41]:
net.load_df(frame)
net.normalize(axis='row', norm_type='zscore', keep_orig=True)
net.cluster()
net.widget()

TypeError: Could not operate nan with block values can't multiply sequence by non-int of type 'float'

In [45]:
print('test')

test